html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 50px;
  padding: 100px;
  background-color: rgb(243, 81, 81);
}

.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.news {
  font-size: 50px;
  display: flex;
  margin: 120px;
  color: aliceblue;
  justify-content: center;
}

.link {
  display: inline-block;
  width: 130px;
  height: 40px;
  margin-left: 1180px;
  border-radius: 20px;
  color: rgb(252, 252, 252);
  font-weight: bold;
  text-align: center;
  padding-top: 9px;
  margin-top: 210px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(20, 52, 235);
  border: 2px solid darkblue;
  font-family: "Arial", 'sans-serif';
}

.link:hover {
  background-color: rgb(25, 223, 18);
  color: white;
}